{% extends accounts_base %}

{% load i18n %}
{% load accounts_tags %}

{% block content %}
  <div class="container">
    <form action="" class="form-horizontal" method="post">
      {% csrf_token %}

      <fieldset>
        <legend>{% trans 'Alterar Senha' %}</legend>
        {% bootstrap_field form.old_password %}
        {% bootstrap_field form.new_password1 %}
        {% bootstrap_field form.new_password2 %}
      </fieldset>

      {% bootstrap_non_field_errors form %}

      <div class="form-actions">
        <button class="btn btn-primary">{% trans 'Alterar Senha' %}</button>
      </div>
    </form>
  </div>
{% endblock content %}